[tool.poetry]
name = "minisignxml"
version = "2020.7b0"
description = "Minimal XML signature and verification, intended for use with SAML2"
authors = ["Jonas Obrist <jonas.obrist@hennge.com>"]

[tool.poetry.dependencies]
python = "^3.7"
cryptography = "^2.8"
lxml = "4.4.1"
defusedxml = "^0.6.0"

[tool.poetry.dev-dependencies]
pytest = "^5.2"
black = "^19.10b0"
isort = {extras = ["toml"], version = "^4.3.21"}
pytest-cov = "^2.8.1"

[tool.isort]
line_length = "88"
multi_line_output = "3"
combine_as_imports = "1"
include_trailing_comma = "True"
known_third_party = "cryptography,lxml,pytest,defusedxml"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
